.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}


html {
	font-size: 20px;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	font-weight: 300;
}

.container-fluid {
	padding: 0;
	border: solid 0px #6F1707;
}

.navbar-header {
	height: 75px;
	background-color: #6F1707;
}

.cafe-bombay-logo {
	float: left;
	height: 100%;
}

.top-nav {
	list-style: none;
	float: right;
}

.navbar-collapse {
	background-color: #6F1707;
	color: white;
}

.nav ul li {
	color: white;
	float: right;
	padding: 20px 30px;
	font-weight: 500;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav .active a {
	background-color: rgba(20,20,20, 0);
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
	color: #FF9E00;
}

.landingImage {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	background-image: linear-gradient( rgba(20,20,20, 0), rgba(20,20,20, .5)),
		url(../images/Indian-Food-2.jpg);

	background-size: cover, cover;
}

/*height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/

.landing-image-text {
	position: absolute; 
	bottom: 150px; 
	left: 0; 
	width: 100%; 
	color: white;
	font-weight: 500;
}

.landing-image-text:hover {
	color: #FF9E00;
}

.aboutUs {
	background-color: #FF9E00;
	color: #6F1707;
	text-align: center;
	padding-top: 40px;
	line-height: 1.2rem;
	min-height: 700px;
}

.about-us-header{
	width: 200px;
	font-weight: 900;
	font-size: 2rem;
	border-top: solid 3px #6F1707;
	border-bottom: solid 3px #6F1707;
}

.aboutUs p{
	padding-top: 30px;
	font-size: 1.2rem;
	padding-bottom: 30px;
}

h3 {
	color: #6F1707;
	text-transform: uppercase;
	padding: 10px 0px 10px 0px;
	margin: auto;
	width: 200px;
	font-weight: 900;
	font-size: 2rem;
	border-top: solid 3px #6F1707;
	border-bottom: solid 3px #6F1707;
}

h4 {
	text-transform: uppercase;
	padding: 5px;
	font-weight: 500;
	font-size: 1.3rem;
	padding-top: 20px;
}

h5 {
	font-size: 1.7rem;
	font-weight: 300;
	font-style: italic;
	color: white;
	width: 75%;
	margin: auto;
	padding-top: 75px;
}

h6 {
	font-size: 1rem;
	font-weight: 500;
	color: white;
	margin: auto;
	padding-top: 5px; 
	padding-bottom: 20px;
}

p {
	width: 75%;
	margin: auto;
}

ol {
	text-align: center;
	display: block;
}

ol li {
	display: block;
}

ol li:hover {
	color: #FF9E00;
}

.menu-header h4 {
	font-weight: 900;
	color: #6F1707;
}

.side-nav {
	background-color: #6F1707;
	text-align: center;
	height: 700px;
	padding-top: 40px;
}

.side-nav h3 {
	color: white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	margin: 20px auto;
}

.menu {
	margin: 0;
	color: #6F1707;
}

.menu div {
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
   break-inside: avoid;
}

.menu-page {
	padding-top: 40px;
}

.menu-nav {
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.5;
}

.menuImage {
	height: 100vh;
	width: 100%;
	background-image: url(../images/kadai.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.appetizer-menu {
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count: 2;
}

.bombay-specials {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.vegetarian {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.non-vegetarian {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.rice-biryani {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.breads {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.dessert {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.testimonial {
	min-height: 300px;
	background-color: #FF9E00;
	text-align: center;
}

.testimonial div {
	display: none; 
}

.testimonial div:first-child{
	display: block;
}

.catering {
	height: 700px;
	width: 100%;
	background-image: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)),
		url(../images/catering-services.jpg);
	background-size: cover, cover;
	color: white;
	
}

.catering-services {
	overflow: auto;
	position: relative;
	top: 300px;
	color: white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
}


.location {
	background-color: #FF9E00;
	color: white;
}

#location {
	color: white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	margin: 20px auto;
}

#location h4 {
	margin: auto;
	padding-bottom: 10px;
}

table {
	margin: auto;
	padding: 10px;
}

td {
	padding: 3px 5px;
}

footer {
	background-color: #6F1707;
	color: white;
	padding: 10px 0px;
}

small {
	margin: 10px;
}


/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}


/*media responsiveness*/
@media (max-width: 768px) {

}
    
}




